<head>
  <meta charset="utf-8">
  <!-- begin for bing -->
  <meta name="msvalidate.01" content="71CCAD9D3DEDBA653F52D96EACF9ED56" />
  <!-- end for bing -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% seo %}
  <!--  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}" />
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/i/favicon.ico" media="screen">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{ site.baseurl }}/assets/i/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Newbe" />
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/i/favicon.ico">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/i/favicon.ico">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/newbe.css">
  <!-- Google BEGIN-->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100658571-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-100658571-2');
  </script>
  <!-- Google END-->
  <!--begin 熊掌号 -->
  <!-- <script src="//msite.baidu.com/sdk/c.js?appid=1588460453028363"></script> -->
  <!-- end 熊掌号 -->

</head>
