<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header am-print-hide">
  <div class="am-u-sm-8 am-u-sm-centered">
    <img width="200" src="{{ site.baseurl }}/assets/i/logo.png" alt="Amaze UI Logo" />
    <h2 class="am-hide-sm-only">Newbe便是新生，唯有不断蜕变才能焕然新生。</h2>
  </div>
</header>
<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav am-print-hide">
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a href="/">首页</a></li>
      <li class="am-dropdown" data-am-dropdown="">
        <a class="am-dropdown-toggle" data-am-dropdown-toggle="" href="javascript:;">
          源码 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="https://gitee.com/yks/Newbe.Mahua.Framework" title="Newbe.Mahua" target="_blank">Newbe.Mahua（OSChina）</a></li>
          <li><a href="https://github.com/Newbe36524/Newbe.Mahua.Framework" title="Newbe.Mahua" target="_blank">Newbe.Mahua（Github）</a></li>
        </ul>
      </li>
      <li class="am-dropdown" data-am-dropdown="">
        <a class="am-dropdown-toggle" data-am-dropdown-toggle="" href="javascript:;">
          教程 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="{{ site.baseurl }}/docs/mahua/2017/12/24/Newbe-Mahua-Navigations.html" title="Newbe.Mahua" target="_blank">Newbe.Mahua</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ site.baseurl }}/donate.html" title="借一步说话" target="_blank">
          <span>借一步说话</span>
          <img src="{{site.baseurl}}/assets/i/crash.gif" alt="嗨起来" style="width:50px;">
        </a>
      </li>
      <li><a href="https://jq.qq.com/?_wv=1027&k=4AMMCTx" title="技术交流群" target="_blank">技术交流群</a></li>
      <li><a href="#" title="麻花文库(Mahua Gallery)" onclick=" $('#pleaseWait').modal()">麻花(Mahua)插件中心</a></li>
      <li><a href="https://live.bilibili.com/7834872" title="直播码字" target="_blank">
        <span id="liveStatus">直播码字</span>
        <img id="dancedog" src="{{site.baseurl}}/assets/i/dance-dog.gif" alt="嗨起来" style="height:50px;">
      </a> </li>
      <li class="am-active"><a href="{{ site.baseurl }}/resume.html" title="个人简历" target="_blank">个人简历</a></li>
    </ul>
    <div class="am-form-group">
      <script type="text/javascript">
        (function() {
          document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));
          var bdcs = document.createElement('script');
          bdcs.type = 'text/javascript';
          bdcs.async = true;
          bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=4496900582148885024' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date() / 3600000);
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(bdcs, s);
        })();
      </script>
    </div>
  </div>
</nav>
<hr>
<!-- nav end -->

<div class="am-modal am-modal-alert" tabindex="-1" id="pleaseWait">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">即将上线</div>
    <div class="am-modal-bd">
      尽请期待！
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>
