<div class="am-u-md-4 am-u-sm-12 blog-sidebar">
  <div class="blog-sidebar-widget blog-bor">
    <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
    <img src="http://s1.dwstatic.com/group1/M00/BA/04/27f2c549c7488ac3a2931d66804397c8.gif" alt="about me" class="blog-entry-img">
    <p>Newbe</p>
    <p>
      我是一个有脾气的程序员
    </p>
    <p>别说话，给我捐钱就可以了</p>
  </div>
  <div class="blog-sidebar-widget blog-bor">
    <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
    <p>
      {% include contactIcons.html %}
    </p>
  </div>
  <!--<div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
    <h2 class="blog-title"><span>TAG cloud</span></h2>
    <div class="am-u-sm-12 blog-clear-padding">
      <a href="" class="blog-tag">amaze</a>
      <a href="" class="blog-tag">妹纸 UI</a>
      <a href="" class="blog-tag">HTML5</a>
      <a href="" class="blog-tag">这是标签</a>
      <a href="" class="blog-tag">Impossible</a>
      <a href="" class="blog-tag">开源前端框架</a>
    </div>
  </div>-->
  <div class="blog-sidebar-widget blog-bor">
    <h2 class="blog-title"><span>么么哒</span></h2>
    <ul class="am-list">
      <li><a href="#">不要以为自己已经走入了人生的谷底，还有好多下坡路在等着你。</a></li>
      <li><a href="#">你这么努力，忍受那么多寂寞和纠结，我们也没觉得你有多优秀。</a></li>
      <li><a href="#">人和人之间最大的区别就是逛完商场后下电梯，你按1楼，别人都按B。</a></li>
      <li><a href="#">对今天解决不了的事情，也不要着急。因为明天也可能还是解决不了。</a></li>
    </ul>
  </div>
</div>
