---
layout: default
---
<!-- content srart -->

<div class="am-g am-g-fixed blog-fixed">
  <div class="am-u-md-8 am-u-sm-12">
    {% for post in site.posts %}
      {% if post.top != true %}
         {% continue %}
      {% endif %}
      <article class="am-g blog-entry-article">
        <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 blog-entry-text">
          <span><a href="" class="blog-color">{{ post.categories | array_to_sentence_string }}</a></span>
          <span> {{ site.author }} &nbsp;</span>
          <span>{{ post.date | date_to_string }}</span>
          <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
          {{ post.excerpt }}
          <p><a href="{{ post.url }}" class="blog-continue">continue reading</a></p>
        </div>
      </article>
    {% endfor %}
    {% for post in site.posts %}
      {% if post.top == true %}
         {% continue %}
      {% endif %}
      <article class="am-g blog-entry-article">
        <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 blog-entry-text">
          <span><a href="" class="blog-color">{{ post.categories | array_to_sentence_string }}</a></span>
          <span> {{ site.author }} &nbsp;</span>
          <span>{{ post.date | date_to_string }}</span>
          <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
          {{ post.excerpt }}
          <p><a href="{{ post.url }}" class="blog-continue">continue reading</a></p>
        </div>
      </article>
    {% endfor %}

<!--    <ul class="am-pagination">
      <li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>
      <li class="am-pagination-next"><a href="">Next &raquo;</a></li>
    </ul>-->
    <hr>
  </div>
  {% include sidebar.html %}
</div>
<!-- content end -->
