<!DOCTYPE html>
<html lang="zh-cn">

  {% include head.html %}

  <body>

    {% include header.html %}

        {{ content }}

    {% include changyan.html %}

    <!-- begin 熊掌号 -->
    <!-- <div id="xiongzhang-container">
      <script>cambrian.render('tail')</script>
    </div> -->
    <!-- end 熊掌号 -->

    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed am-print-hide" >
      <a href="#top" title="回到顶部">
          <span class="am-gotop-title">回到顶部</span>
            <i class="am-gotop-icon am-icon-chevron-up"></i>
      </a>
    </div>

    {% include footer.html %}

  </body>

</html>
