---
layout: default
---
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
  <div class="am-u-md-8 am-u-sm-12">
    <article class="am-article blog-article-p">
      <div class="am-article-hd">
        <h1 class="am-article-title blog-text-center">{{ page.title }}</h1>
        <p class="am-article-meta blog-text-center">
          {% if page.categories %}
          <span><a href="#" class="blog-color">{{ page.categories | array_to_sentence_string }}</a></span>-
          {% endif %}
          <span><a href="#">{{ site.author }} &nbsp;</a></span>-
          <span><a href="#">{{ page.date | date_to_string }}</a></span>
        </p>
      </div>
      <div class="am-article-bd">
        {{ content | toc_generate }}
      </div>
    </article>
    <hr class="am-print-hide" />
    <div class="am-g blog-article-widget blog-article-margin am-print-hide">
      <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
        <span class="am-icon-tags"> &nbsp;</span> {% for tag in page.tags %}
        <a href="#">{{ tag  }}</a> {% endfor%}
        <hr> {% include contactIcons.html %}
      </div>
    </div>
    <hr class="am-print-hide" />
  </div>
  {% include postSidebar.html %}
</div>
<script type="application/ld+json">
  {
    "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
    "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
    "appid": "1588460453028363",
    "title": "{{ page.title }}",
    "images": [],
    "description": "{{ page.excerpt | strip_html | strip_newlines }}",
    "pubDate": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S" }}",
    "upDate": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S" }}",
    "lrDate": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S" }}"
  }
</script>
<!-- content end -->
