.am-article-bd .emoji {
  display: inline;
}

@media screen {
  del {
    text-decoration: none;
    color: black;
    background-color: black
  }
  del:hover {
    background-color: white
  }
}

@media print {
  del {
    display: none;
  }
  .jiathis_style {
    display: none;
  }
  #xiongzhang-container {
    display: none;
  }
  #contentsContainer {
    display: none;
  }

  p{
    line-height: 1.0;
  }
}

/**rouge背景*/
.highlight pre { background-color: #394034;}
