---
layout: default
---
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
  <div class="am-u-md-8 am-u-sm-12">
    <article class="am-article blog-article-p">
      <div class="am-article-hd">
        <h1 class="am-article-title blog-text-center">{{ page.title }}</h1>
        <p class="am-article-meta blog-text-center">
          <span><a href="#" class="blog-color">{{ page.categories | array_to_sentence_string }}</a></span>-
          <span><a href="#">{{ site.author }} &nbsp;</a></span>-
          <span><a href="#">{{ page.date }}</a></span>
        </p>
      </div>
      <div class="am-article-bd">
            {{ content }}
      </div>
    </article>
    <hr>
    <div class="am-g blog-article-widget blog-article-margin">
      <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
        <span class="am-icon-tags"> &nbsp;</span>
        {{% for tag in page.tags%}}
          <a href="#">{{ tag }}</a>
        {{% endfor%}}
        <hr>
        {% include contactIcons.html %}
      </div>
    </div>
    <hr>
    {% include yungentie.html %}
  </div>
  {% include sidebar.html %}
</div>
<!-- content end -->
{% include yungentie.html %}
